* {
    padding: 0;
    margin: 0;
}

body {
    background: #FFF8F0;
}

.contact {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.contact img {
    margin-right: 4px;
}

#contact-details {
    display: flex;
    /* display: inline-flex; */
    justify-content: space-between;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 20px;
}

#header-text {
    margin-top: 30px;
    margin-left: 13%;
    width: 36%;
}

#header-image img {
    /* position: absolute; */
    /* top: 0;
    right: 0; */
    max-width: 100%;
    height: auto;
}

#hello-text {
    margin-top: 49px;
    color: #291854;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    margin-top: 10px;
    color: #190D37;
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px; /* 104.167% */
}

h1 span{
    font-weight: 400;
}

#header-par {
    margin-top: 30px;
    color: #331E6A;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

section {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    color: #2858FF; 
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
}

section h2 {
    text-align: center;
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}

.section-text {
    color: #190D37;
    text-align: center;
    padding: 0 20px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}