* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background: #FFF8F0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.contact {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.contact img {
    margin-right: 4px;
}

#contact-details {
    display: flex;
    /* display: inline-flex; */
    justify-content: space-between;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 20px;
}

#header-text {
    margin-top: 30px;
    margin-left: 13%;
    width: 36%;
}

#header-image img {
    /* position: absolute; */
    /* top: 0;
    right: 0; */
    max-width: 100%;
    height: auto;
}

#hello-text {
    margin-top: 49px;
    color: #291854;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

h1 {
    position: relative;
    margin-top: 10px;
    color: #190D37;
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px; /* 104.167% */
}

h1 span{
    font-size: 48px;
    font-weight: 400;
}

#line {
    position: absolute;
    z-index: -1;
    margin-top: -20px;
}

#header-par {
    margin-top: 30px;
    color: #331E6A;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

section {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
}

.section-header {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    color: #2858FF; 
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
}

section h2 {
    text-align: center;
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}

.section-text {
    color: #190D37;
    text-align: center;
    padding: 0 20px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.section-content {
    margin-top: 48px;
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    position: relative;
}

#section-content-hor {
    gap: 20px;
}

#section-content-ver {
    flex-direction: column;
    gap: 40px;
}

#section-content-ver2 {
    flex-direction: column;
    gap: 16px;
}

.job {
    text-align: center;
}

.card {
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.10);
}

.card-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-text {
    color: #55206D;
    margin-top: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.project {
    display: flex;
    gap: 20px;
}

.project-rec {
    border-radius: 10px;
    padding: 44px 46px;
    display: inline-block;
}

.project-rec-txt {
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
}

#project1 {
    background-color: #19ACFF;
    color: white;
}

#project2 {
    background-color: #FFE819;
    color: black;
}

#project3 {
    background-color: #FF1919;
    color: white;
}

.project-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0;
    /* gap: 8px; */
}

.project-main-title {
    color: #291854;    
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
}

.project-main-text {
    color: #55206D;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.project-main-link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6A87A3;    
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}


footer {
    margin-top: 127px;
    padding: 20px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.price span {
    color: #8A8A8A;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 12px;
    /* text-align: justify; */
}

.price {
    /* padding-right: 12px; */
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
}

.card-text-price {
    padding-right: 17%;
    color: #8B8B8B;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; /* 164.286% */
}

.card-title-price {
    /* margin-top: 8px; */
    color: #2858FF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

.checked-item {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.checked-item p {
    color: #666;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.button-price {
    margin-top: 16px;
    border-radius: 4px;
    border: 2px solid #2F2F2F;
    padding: 12px 0;
    text-align: center;

    color: #2F2F2F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.price-tag:hover  {
    background: #FFD748;
    transition: background-color 0.5s ease;
}

.price-tag:hover .button-price {
    background: #000;
    color: white;
    transition: background-color 0.5s ease;
}

.price-tag:hover .card-title-price {
    color: #000;
}

.price-tag:hover .card-text-price{
    color: rgba(0, 0, 0, 0.50);
}

.price-tag:hover .price span {
    color: rgba(0, 0, 0, 0.50);
}

.thin {
    width: 700px;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    color: #55206D;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.drop-text {
    margin-top: 8px;
    color: #6A87A3;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.invis {
    display: none;
}

#red_blob {
    position: absolute;
    z-index: -1;
    margin-top: 80px;
    margin-left: -112px;
}

#blue_blob {
    position: absolute;
    z-index: -1;
    margin-top: -120px;
    margin-left: -30px;
}

#blue_blur {
    width: 300px;
    height: 300px;
    right: 0;
    /* margin-right: -300px; */
    transform: translateX(120%);
    flex-shrink: 0;
    border-radius: 300px;
    background: #64DAFF;
    filter: blur(250px);
    position: absolute;
    z-index: -1;
    margin-top: -120px;
}

#orange_blur {
    width: 300px;
    height: 300px;
    left: 0;
    flex-shrink: 0;
    border-radius: 300px;
    background: #FFB800;
    filter: blur(250px);
    position: absolute;
    z-index: -1;
    transform: translateX(-120%);
    margin-top: -40px;
}

#purple_blur {
    width: 300px;
    height: 300px;
    /* left: 0; */
    flex-shrink: 0;
    border-radius: 300px;
    background: #DC93FF;
    filter: blur(125px);
    position: absolute;
    z-index: -1;
    transform: translateX(30%);
    /* margin-top: 60px; */
}